@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');

/* Base Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8rem;
}

h2, p {
  margin: 1.6rem 0;
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
}

h2 {
  font-weight: 600;
  font-size: 2.4rem;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

img {
  width: 100%;
  height: auto;
}

i {
  font-size: 2rem;
}

label {
  font-weight: 400;
  font-size: 1.4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: auto;
}

section {
  padding: 100px 0;
}

button {
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.spacer {
  height: 70px;
}

.line {
  height: 1px;
  border-bottom: 1px black solid;
  margin: 1rem 0;
}

.bold {
  font-weight: 600;
}

span {
  font-weight: 400;
  font-size: 1.8rem;
}

/* Nav Section */
nav {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 70px;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

nav .navbar .logo a h1{
  color: #354347;
  font-size: 3.2rem;
  font-weight: lighter;
  letter-spacing: -2px;
  text-transform: uppercase;
}


nav .navbar .nav-links {
  display: flex;
  height: 100%;
  line-height: 70px;
}

nav .navbar .nav-links .links {
  display: flex;
}

nav .navbar .nav-links .links li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .nav-links .links li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #354347;
  font-size: 1.8rem;
  text-align: right;
}

nav .navbar .nav-links .links li a:hover {
  color: #A0652D;
}

nav .navbar .nav-links .links li .arrow {
  height: 100%;
  width: 22px;
  text-align: center;
  color: grey;
  line-height: 70px;
  transition: all .3s ease;
}

.navbar .nav-links .links .sub-menu li:hover .more-arrow,
.navbar .nav-links .links li:hover .dropdown1-arrow,
.navbar .nav-links .links li:hover .dropdown2-arrow {
  transform: rotate(180deg);
}

.navbar .nav-links .links .sub-menu {
  position: absolute;
  top: 70px;
  right: 0px;
  background: #FFF;
  line-height: 40px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: none;
}

.navbar .nav-links .links .sub-menu li {
  padding: 0 22px;
  border-top: 1px solid grey;
}

.navbar .nav-links .links .sub-menu li a {
  font-size: 1.7rem;

}

.navbar .nav-links .links .sub-menu li .more-arrow {
  line-height: 40px;
}
.navbar .nav-links .links li:hover .dropdown1-sub-menu,
.navbar .nav-links .links li:hover .dropdown2-sub-menu {
  display: block;
}


.navbar .nav-links .links .more .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  display: none;
}

.navbar .nav-links .links .more:hover .more-sub-menu {
  display: block;
}

nav h1 {
  margin: 0;
}


/* Hero Section */
.hero {
  width: 100%;
  padding: 150px 120px;
}

.hero,
.hero-background {
  text-align: center;
  background-color: #354347;
}

.hero-background h1 {
  font-size: 10rem;
  font-family: "Mr De Haviland", serif;
  font-weight: 90;
  color: #F1F1F1;
}

.hero-background p {
  padding: 0 20%;
  color: #F1F1F1;
  font-size: 2.5rem;
}

.hero-background h2 {
  font-size: 1.9rem;
  color: #F1F1F1;
  font-weight: lighter;
  letter-spacing: 0px;
  text-transform: uppercase;
}
/* may need later */


input {
  font-size: 1.4rem;
}

input[type=text],
input[type=email], 
input[type=date] {
  padding: 12px 20px;
  border: 1px solid #87836B;
}

input[type=submit] {
  display: block;
  background-color: #ECEADD;
  color: #354347;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: #D6AA87;
  color: #FFF;
  transition: .5s ease-in-out;
}

form textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  resize: none;
  padding: 10px 10px;
  border: 1px solid #87836B;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #87836B;
}

input::placeholder {
  font-size: 1.3rem;
  color: #CCC;
}

/* Our Services */

.about {
  background-color: #F5F4EF;
}

.about h1 {
  text-align: center;
  color: #A0652D;
  margin-bottom: 2.5rem;
}

#services .row {
  align-items: flex-start;
}

.about-left,
.about-middle,
.about-right {
  flex-basis: 30%;
  padding: 0 2rem;
  min-height: 450px;
  height:fit-content;
  width: 100%;
  border: 2px solid #354347;
  position: relative;
  padding-bottom: 100px;
}

.about h2 {
  color: #A0652D;
  text-align: center;
}

.about li {
  margin-left: 2rem;
  font-size: 1.8rem;
}

.toggle-view {
  color: #A0652D;
}

.toggle-view:hover {
  cursor: pointer;
}

.toggle-view::marker {
  color: black;
}

.hidden-items li::marker {
  color: red;
  content: "• ";
}
.list-link {
  color: #A0652D;
}

.list-link:hover {
  color: black;
  transition: .5s ease-in-out;
}


.btn {
  background-color: #354347;
  color: white;
  padding: 16px 16px;
  display: block;
  margin: 2rem auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

#services button {
  position: absolute;
  bottom: 0%;
  margin-left: 1rem;
  margin-right: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}

.btn:hover {
  background-color: #A0652D;
  transition: .5s ease-in-out;
}




/* About Us*/

.about2 {
  background-color: #354347;
  color: white;
}

.about2 h1 {
  text-align: center;
  margin-top: 0;
}

.about2 h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.staff-card {
  margin: 3rem auto;
}

.headshot-container {
  margin: 1rem 1rem 1rem 0;
}

.bio-container {
  margin-left: 1rem;
}

.headshots {
  border-radius: 50%;
  height: 20rem;
  width: auto;
}

.about2 h3 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 2px;
}

/* Process Section */


.process a {
  color: #A0652D;
}

.process a:hover {
  color: black;
  transition: .5s ease-in-out;
}

.process-title {
  text-align: center;
}

.process-title h1 {
  color: #87836B;
  margin-bottom: 0;
}

.process-title h2 {
  color: #A0652D;
  font-size: 2rem;
  padding: 0 10rem;
  margin: 0 0 1rem 0;
  font-weight: 400;
}

.process .row {
  justify-content: center;
  width: 90%;
}

.process-content {
  margin: 50px;
  
}

.process-step-numbers {
  display: none;
}

.progress-bar {
  width: 80%;
  height: 2px;
  background-color: #222;
  margin: auto;
  position: relative;
  z-index: -50;
}

.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #222;
  position: absolute;
}

.progress-bar .c1 {
  top: -8px;
  left: 50px;
}

.progress-bar .c2 {
  top: -8px;
  left: 50%;
}

.progress-bar .c3 {
  top: -8px;
  right: 50px;
}

.box1,
.box2,
.box3 {
  padding: 1.8rem;
  width: 33.3%;
}

.process .box1,
.process .box2,
.process .box3 {
  text-align: center;
}

.process-content h2 {
  color: #87836B;
}

/* Testimony */

.testimony {
  background-color: #F5F4EF;
  color: white;
}

.testimony h2 {
  font-weight: 400;
}

.testimony .test {
  background-color: #354347;
  padding: 4rem 8rem;
  margin: 0 1rem;
}

.testimony .image {
  height: 80px;
  width: 80px;
}

.testimony img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* FAQ Section*/

.faq {
  background-color: #ECEADD;
  color: #354347;
}

.faq h1 {
  color: #A0652D;
  text-align: center;
}

.faq h2 {
  color: #A0652D;
}


/* Contact Section */

.contact {
  background-color: #354347;
}
.contact h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact .row {
  display: flex;
  justify-content: center;
}

.contact-left {
  flex-basis: 50%;
  color: white;
}

.contact-left h2 {
  font-weight: lighter;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.contact-right {
  flex-basis: 50%;
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input {
  width: 100%;
}

.contact textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border: 1px solid #87836B;
  font-size: 1.3rem;
  resize: none;
  color: #CCC;
  margin: 1.2rem 0;
  font-family: "Poppins", sans-serif;
}

.contact p {
  margin: 0;
}

.contact h3 {
  font-weight: 600;
}

.google-map {
  border-radius: 4px;
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);

}


/* Footer */

footer {
  height: 80px;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

footer a {
  color: white;
  font-size: 1.2rem;
}

footer a:hover {
  color: #A0652D;
  transition: .5s ease-in-out;
}

/* ▼ ▼ ▼ ▼ ▼ ▼ ▼ ▼ Appointment Form ▼ ▼ ▼ ▼ ▼ ▼ ▼ ▼ ▼ */
.appointment-form-section {
  background-color:#F5F4EF;
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: white;
  width: 45%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.form-container h2 {
  text-align: center;
  margin: 2rem 0;
}

.appt-req-form input {
  display: inline-block;
  height: 3rem;
  border-radius: 4px;
  padding: 1rem;
  width: 50%;
  margin: .5rem;
}

.form-row {
  display: flex;
  justify-content: center;
}

.form-row-checkbox {
  display: flex;
  justify-content: flex-start;
}

label {
  margin: 0 1.2rem 0;
  width: 100%;
}

input[type=checkbox] {
  height: 13px;
  width: 13px;
}

input[type=submit] {
  display: block;
  margin: 1rem auto;
  height: 4rem;
}

.form-row-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.disclaimer {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: grey;
}

form h4 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: .7rem;
  margin-top: 1rem;
}

.your-contact-info {
  border: 1px solid grey;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}





/* ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ Appointment Form ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ */

/* Fees Page */
.fees-section {
  background-color: #ECEADD;
}

.fees-section h1 {
  color: #A0652D;
  text-align: center;
}

.fee-table-wrapper {
  margin: 0 auto;
  background-color: #F2F2F2;
  width: 70%;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}

.fee-table{
  width: 100%;
  margin: 0 auto;
  background-color: black;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}

.table-header {
  background-color: #354347;
  color: #F1F1F1;
}

.table-header th {
  font-weight: 400;
  letter-spacing: 2px;
}

.fee-table td, 
.fee-table th {
  font-size: 1.6rem;
  padding: .5rem;
}

.row-even,
.row-odd {
  background-color: #F1F1F1;
}





/* Media Queries */

@media only screen and (max-width:1400px){

nav .navbar {
  max-width: 100%;
  padding: 0px 40px;
}

.navbar .nav-links .links .sub-menu {
  right: 0;
}

nav .navbar .nav-links .links li a {
  text-align: right;
}

.row {
  width: 90%;
}

section {
  padding: 50px 0;
}

.hero {
  padding: 150px 50px;
}

.process-content {
  margin: 25px;
}

.about2-right .card {
  height: 20rem;
  width: 20rem;
}


.about2-right h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.about2-right h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0;
  }
}

@media only screen and (max-width:1120px){
  nav {
    padding: 1% 2%;
  }
  .about .row {
    flex-direction: column;
    margin: auto;
  }

  .about-left,
  .about-middle,
  .about-right {
    margin: 1rem 0;
    padding-bottom: 1rem;
  }

  .headshots {
    height: 15rem;
  }


  .testimony .test {
    padding: 3rem 5rem;
  }
}



@media only screen and (max-width:992px){
  nav {
    flex-direction: column;
    position: relative;
  }

  nav ul {
    background-color: white;
  }

  nav ul li {
    display: block;
    padding: 2% 0;
  }

  nav ul li a {
    color: black;
  }

 /* Hamburger Nav*/
  .hamburger {
    display: inline-block;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: #354347 solid 1px;
    background: white;
    cursor: pointer;
    color: #354347;
  }

  .closeIcon {
    display: none;
    background-color: white;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(160, 101, 45, .95);
    list-style: none;
    padding-top: 4rem;

  }

  .menu li a{
    color: #354347;
  }

  .menu li a:active {
    color: white;
  }

  .menu li {
    text-align: right;
    padding: 0 2rem 0 0;
  }
  
  .showMenu {
    transform: translateY(0);
  }

  
  .changePosition {
    position: relative;
  }


  .progress-bar {
    display: none;
  }

  .process-content {
    margin-top: 0;
    margin-bottom: 0;
  }
  .process-content .row {
    flex-direction: column;
  }

  .process-content h2 {
    text-align: left;
    font-weight: 500;
  }

  .process-content p {
    text-align: left;
  }

  .process-step-numbers {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 800;
    color: #A0652D;
  }

  .box1,
  .box2,
  .box3 {
    width: auto;
  }
  .testimony .row {
    flex-direction: column;
  }
}

@media only screen and (max-width:768px){

  nav, header {
    height: 60px;
  }
  .logo h1 {
    font-size: 2.5rem;
  }

  .hero p{
  padding: 0%;
  }

  .about2 .row {
    flex-direction: column;
  }

  input[type=text],
  input[type=email] {
    width: 80% !important;
  }

  input[type=submit] {
    width: 80% !important;
  }

  .contact textarea {
    width: 80% !important;
  }
}

@media only screen and (max-width:576px){
  
  .logo h1{
    display: none;
  }

  .mobile-logo h1{
    display: block;
    font-size: 1.8rem;
  }

  .hero-background h1 {
    font-size: 7rem;
  }
  
  .hero-background p {
    padding: 0 10%;
    color: #F1F1F1;
    font-size: 1.9rem;
  }
  
  .hero-background h2 {
    font-size: 1.5rem;
    color: #F1F1F1;
    font-weight: lighter;
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  .headshot-container {
    margin: 0 auto 1rem auto;
  }
  
  .process {
    padding: 0;
  }

  .process-content {
    margin: 0;
    padding: 0;
  }

  .process .process-content .row {
    margin: 0;
    width: 100%;
  }

  .box1,
  .box2,
  .box3 {
    padding: 0;
  }

  .testimony .test {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width:470px){
  .card .headshots {
    height: 10rem;
  }

  .process-title h2 {
    padding: 0 5rem;
  }
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-height: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.hero-image {
  width: 100%;
  height: 700px; 
  object-fit: cover;
  object-position: 40% 60%; 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2.3rem;
  padding: 3rem 2rem;
  position: absolute;
  bottom: 40%;
  left: 20%;
  right: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.text h3 {
  color: #F2F2F2;
  font-weight: lighter;
  letter-spacing: 0px;
  text-transform: uppercase;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}