@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');

/* Base Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8rem;
}

h1, h2, p {
  margin: 1.6rem 0;
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: auto;
}

section {
  padding: 100px 0;
}

/* Nav Section */

/* .dropdown {
  overflow: hidden;
} */

.dropdown-content {
  display: none;
  position: absolute;
  right: 1%;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1.7rem;
}

.sdd {
  display:block;
}

nav .dropbtn {
  color: #354347;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  border: none;
  background: none;
}

header {
  width: 100%;
  height: 75px;
}

.logo h1{
  display: block;
  font-size: 3.2rem;
  color: #354347;
  margin: 0;
  font-weight: lighter;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.mobile-logo h1{
  display: none;
  font-size: 3.2rem;
  color: #354347;
  margin: 0;
  font-weight: lighter;
  letter-spacing: 8px;
  text-transform: uppercase;
}

nav {
  height: 75px;
  width: 100%;
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  position: fixed;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 2.5rem;
  line-height: 55px;
}

nav ul li a {
  color: #354347;
  font-size: 1.8rem;
}

nav ul li a:hover,
.dropbtn:hover {
  color: #A0652D;
  transition: color .3s ease-out;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.closeIcon {
  display: none;
  background-color: blue;
}

/* Hero Section */
.hero {
  width: 100%;
  padding: 150px 120px;
}

.hero,
.hero-background {
  text-align: center;
  background-color: #354347;
}

.hero-background h1 {
  font-size: 10rem;
  font-family: "Mr De Haviland", serif;
  font-weight: 90;
  color: #F1F1F1;
}

.hero-background p {
  padding: 0 20%;
  color: #F1F1F1;
  font-size: 2.5rem;
}

.hero-background h2 {
  font-size: 1.9rem;
  color: #F1F1F1;
  font-weight: lighter;
  letter-spacing: 8px;
  text-transform: uppercase;
}
/* may need later */

form {
  margin: 2.4rem 0;
}

input {
  font-size: 1.8rem;
}

input[type=text],
input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 1.2rem 0;
  display: block;
  border: 1px solid #87836B
}

input[type=submit] {
  width: 50%;
  background-color: #ECEADD;
  color: #354347;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: #D6AA87;
  color: #FFF;
  transition: .5s ease-in-out;
}

input::placeholder {
  font-size: 1.3rem;
  color: #CCC;
}

/* About Section (Services) */

.about {
  background-color: #F5F4EF;
}
.about h1 {
  text-align: center;
  color: #A0652D;
  margin-bottom: 2.5rem;
}

.row,
.about-left,
.about-middle,
.about-right {
  align-items: flex-start;
}

.about-left,
.about-middle,
.about-right {
  flex-basis: 30%;
  padding: 0 2rem;
  height: auto;
  width: 100%;
  border: 2px solid #354347;
}

.about h2 {
  color: #A0652D;
  text-align: center;
}

.about li {
  margin-left: 2rem;
  font-size: 1.8rem;
}

.list-link {
  color: #A0652D;
}

.list-link:hover {
  color: black;
  transition: .5s ease-in-out;
}

.btn {
  background-color: #354347;
  color: white;
  padding: 8px 16px;
  display: inline-block;
  margin: 2rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #A0652D;
  transition: .5s ease-in-out;
}




/* About 2 Section (About Us)*/

.about2 {
  background-color: #354347;
  color: white;
}

.about2 h1 {
  text-align: center;
  margin-top: 0;
}

.about2 h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.staff-card {
  margin: 3rem auto;
}

.headshot-container {
  margin: 1rem 1rem 1rem 0;
}

.bio-container {
  margin-left: 1rem;
}

.headshots {
  border-radius: 50%;
  height: 20rem;
  width: auto;
}

.about2 h3 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 2px;
}

/* Process Section */

.process a {
  color: #A0652D;
}

.process a:hover {
  color: black;
  transition: .5s ease-in-out;
}

.process-title {
  text-align: center;
}

.process-title h1 {
  color: #87836B;
  margin-bottom: 0;
}

.process-title h2 {
  color: #A0652D;
  font-size: 2rem;
  padding: 0 10rem;
  margin: 0 0 1rem 0;
  font-weight: 400;
}

.process .row {
  justify-content: center;
}

.process-content {
  margin: 50px;
}

.process-step-numbers {
  display: none;
}

.progress-bar {
  width: 80%;
  height: 2px;
  background-color: #222;
  margin: auto;
  position: relative;
  z-index: -50;
}

.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #222;
  position: absolute;
}

.progress-bar .c1 {
  top: -8px;
  left: 50px;
}

.progress-bar .c2 {
  top: -8px;
  left: 50%;
}

.progress-bar .c3 {
  top: -8px;
  right: 50px;
}

.box1,
.box2,
.box3 {
  padding: 1.8rem;
  width: 33.3%;
}

.process .box2 {
  text-align: center;
}

.process .box3 {
  text-align: right;
}

.process-content h2 {
  color: #87836B;
}

/* Testimony */

.testimony {
  background-color: #F5F4EF;
  color: white;
}

.testimony h2 {
  font-weight: 400;
}

.testimony .test {
  background-color: #354347;
  padding: 4rem 8rem;
  margin: 0 1rem;
}

.testimony .image {
  height: 80px;
  width: 80px;
}

.testimony img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* FAQ Section*/

.faq {
  background-color: #ECEADD;
  color: #354347;
}

.faq h1 {
  color: #A0652D;
}

.faq h2 {
  color: #A0652D;
}


/* Contact Section */

.contact {
  background-color: #354347;
}
.contact h1 {
  color: #FFF;
}

.contact .row {
  justify-content: center;
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input {
  width: 50%;
}

.contact textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  border: 1px solid #87836B;
  font-size: 1.3rem;
  resize: none;
  color: #CCC;
  margin: 1.2rem 0;
  font-family: "Poppins", sans-serif;
}


/* Footer */

footer {
  height: 80px;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: #A0652D;
  transition: .5s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width:1400px){

.row {
  width: 90%;
}

section {
  padding: 50px 0;
}

.hero {
  padding: 50px;
}

.process-content {
  margin: 25px;
}

.about2-right .card {
  height: 20rem;
  width: 20rem;
}


.about2-right h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.about2-right h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0;
  }
}

@media only screen and (max-width:1120px){
  nav {
    padding: 1% 2%;
  }
  .about .row {
    flex-direction: column;
    margin: auto;
  }

  .about-left,
  .about-middle,
  .about-right {
    margin: 1rem 0;
    padding-bottom: 1rem;
  }

  .headshots {
    height: 15rem;
  }


  .testimony .test {
    padding: 3rem 5rem;
  }
}



@media only screen and (max-width:992px){
  nav {
    flex-direction: column;
    position: relative;
  }

  nav ul {
    background-color: white;
  }

  nav ul li {
    display: block;
    padding: 2% 0;
  }

  nav ul li a {
    color: black;
  }

 /* Hamburger Nav*/
  .hamburger {
    display: inline-block;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: #354347 solid 1px;
    background: white;
    cursor: pointer;
    color: #354347;
  }

  .closeIcon {
    display: none;
    background-color: white;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(160, 101, 45, .95);
    list-style: none;
    padding-top: 4rem;

  }

  .menu li a{
    color: #354347;
  }

  .menu li a:active {
    color: white;
  }

  .menu li {
    text-align: right;
    padding: 0 2rem 0 0;
  }
  
  .showMenu {
    transform: translateY(0);
  }

  
  .changePosition {
    position: relative;
  }


  .progress-bar {
    display: none;
  }

  .process-content {
    margin-top: 0;
    margin-bottom: 0;
  }
  .process-content .row {
    flex-direction: column;
  }

  .process-content h2 {
    text-align: left;
    font-weight: 500;
  }

  .process-content p {
    text-align: left;
  }

  .process-step-numbers {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 800;
    color: #A0652D;
  }

  .box1,
  .box2,
  .box3 {
    width: auto;
  }
  .testimony .row {
    flex-direction: column;
  }
}

@media only screen and (max-width:768px){

  nav, header {
    height: 60px;
  }
  .logo h1 {
    font-size: 2.5rem;
  }

  .hero p{
  padding: 0%;
  }

  .about2 .row {
    flex-direction: column;
  }

  input[type=text],
  input[type=email] {
    width: 80% !important;
  }

  input[type=submit] {
    width: 80% !important;
  }

  .contact textarea {
    width: 80% !important;
  }
}

@media only screen and (max-width:576px){
  
  .logo h1{
    display: none;
  }

  .mobile-logo h1{
    display: block;
    font-size: 1.8rem;
  }

  .hero-background h1 {
    font-size: 7rem;
  }
  
  .hero-background p {
    padding: 0 10%;
    color: #F1F1F1;
    font-size: 1.9rem;
  }
  
  .hero-background h2 {
    font-size: 1.5rem;
    color: #F1F1F1;
    font-weight: lighter;
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  .headshot-container {
    margin: 0 auto 1rem auto;
  }
  
  .process {
    padding: 0;
  }

  .process-content {
    margin: 0;
    padding: 0;
  }

  .process .process-content .row {
    margin: 0;
    width: 100%;
  }

  .box1,
  .box2,
  .box3 {
    padding: 0;
  }

  .testimony .test {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width:470px){
  .card .headshots {
    height: 10rem;
  }

  .process-title h2 {
    padding: 0 5rem;
  }
}